<h1>New Exhcange</h1>
<!-- ability to create a new exchange should link from listing show page get listings info from params
display rental time period and total cost. confirm active action futur feature make forms partial for rent and for buy  -->
