
<div class="container">
  <section class="jumbotron text-center">
    <h1 class="jumbotron-heading">All Listings</h1>
  </section>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @existinglistings.each do |listing| %>
        <div class="col-md-4">
          <%=render partial: "listing_summary", locals: { listing: listing } %>
        </div>
      <%end%>
    </div>
  </div>
</div>
