<h1>User Show page</h1>
<!-- display self data
links: see its listings  and rentals conditional logic for display text if nothing

link to listings index

link to edit user -restrict username at least need to change new and edit forms so that they can only update one

create listing button -->
